@charset "utf-8";
/* CSS Document */

.postsarchive .postsarchivebanners
{
	text-transform: capitalize;
	font-style: italic;
	font-weight: bold;
	font-size: 30px;
	color: #FFFFFF;
	background-color: #000000;
	margin: 0 0 20px 0;
	padding: 0 3px 0 3px;
}
.postsarchive .statictips
{
	padding: 10px;
	border: 1px dashed #7D7D7D;
	color: #5F5F5F;
	margin: 0 0 20px 0;
	text-align: center;
	font-size: 13px;
	display:none;
}
.postsarchive ul.postsarchiveyears
{
	width: 104px;
	height: 400px;
	float: left;
	padding: 5px;
	font-size: 16px;
	list-style-type:none;
	background: url('../images/yearsbg.png') no-repeat top right;
}
.postsarchive ul.postsarchiveyears li
{
	text-align: center;
	margin: 0 0 5px 0;
	cursor: pointer;
	padding: 2px;
}
.postsarchive ul.postsarchiveyears li:hover,
.postsarchive ul.postsarchiveyears li:active,
.postsarchive ul.postsarchiveyears li:focus
{
	background-color: #000000;
	color: #FFFFFF;
}
.postsarchive ul.postsarchivemonths
{
	width: 124px;
	height: 350px;
	float: left;
	padding: 5px;
	font-size: 16px;
	list-style-type:none;
	background: url('../images/monthsbg.png') no-repeat center right;
}
.postsarchive ul.postsarchivemonths li
{
	text-align: center;
	margin: 0 0 5px 0;
	cursor: pointer;
	padding: 2px;
}
.postsarchive ul.postsarchivemonths li:hover,
.postsarchive ul.postsarchivemonths li:active,
.postsarchive ul.postsarchivemonths li:focus
{
	background-color: #000000;
	color: #FFFFFF;
}
.postsarchive ul.postsarchivedays
{
	width: 412px;
	height: 400px;
	float: left;
	padding: 5px;
	font-size: 16px;
	list-style-type:none;
	background: url('../images/headlinesbg.png') no-repeat bottom right;
}
.postsarchive ul.postsarchivedays li
{
	margin: 0 0 5px 0;
	padding: 5px;
}
.postsarchive ul.postsarchivedays li .days
{
	color: #FFFFFF;
	background-color:#000000;
	padding: 5px;
	margin: 0 15px 0 0;
}
.postsarchive ul.postsarchivedays li .postheadlines
{
	font-size: 16px;
	padding: 5px;
	margin: 0 15px 0 0;
	font-style: italic;
	text-transform: capitalize;
	cursor: pointer;
}
.postsarchive ul.postsarchivedays li .postheadlines a
{
	color: #000000;
	text-decoration: none;
}
.postsarchive ul.postsarchivedays li:hover,
.postsarchive ul.postsarchivedays li:active,
.postsarchive ul.postsarchivedays li:focus,
.postsarchive ul.postsarchivedays li .postheadlines a:hover,
.postsarchive ul.postsarchivedays li .postheadlines a:active,
.postsarchive ul.postsarchivedays li .postheadlines a:focus
{
	background-color: #FF0000;
	color: #FFFFFF;
}
.postsarchive .biglineverticals01
{
	width: 5px;
	height: 300px;
	float: left;
	background: url('../images/biglinev.gif') no-repeat bottom;
}
.postsarchive .biglineverticals02
{
	width: 5px;
	height: 500px;
	float: left;
	background: url('../images/biglinev.gif') no-repeat bottom;
}
.postsarchive .hidden
{
	display: none;
}